/* Universal Setup and life is good */
:where(*) {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 1.25rem;

    --accent: #e93a3a;
    --scale-hover: 1.005;
}

/* Headings */
h1 {
    text-align: center;
    color: #444;
    margin-block-end: 1.25rem;
}

h2.primary-title {
    text-align: center;
}

/* List Display */
.tree-view {
    list-style-type: none;
    padding-inline-start: 1.25rem;
}

/* Node Items */
.node,
.return-btn,
.entry {
    border-radius: 5px;
    padding: 5px;
    margin-block: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.node:hover,
.entry:hover,
.return-btn:hover {
    background-color: var(--accent);
    color: #fff;
    transform: scale(var(--scale-hover));
}

.entry:hover .meta {
    color: #fff;
    transform: scale(var(--scale-hover));
}

/* Icons for Entries */
.node::before {
    content: '📁 ';
    transition: transform 0.3s ease;
}

.entry::before {
    content: '📄 ';
    transition: transform 0.3s ease;
}

.return-btn::before {
    content: '◀ ';
    transition: transform 0.3s ease;
}

/* Reveal Logic */
.node + .children {
    display: none;
    list-style-type: none;
    padding-inline-start: 1.25rem;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.3s ease;
}

.node.expanded + .children {
    display: block;
    opacity: 1;
    max-height: 500px;
}

/* Spinner Loader */
.loader {
    display: block;
    margin-inline: auto;
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-block-start-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Attribution */
.credits {
    text-align: center;
}

/* File Links */
.file-name {
    display: block;
    text-decoration: none;
    color: #333;
}

/* External Links */
.nav-link {
    text-decoration: none;
    color: #7E017A;
}

.nav-link:hover {
    color: #BC03B5;
}

/* Discord Section */
.community {
    text-align: center;
}

.community img {
    height: 1em;
    margin-right: 0.5em;
}

/* Search Section */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

/* Footer Styling */
.footer-text {
    text-align: center;
    padding-top: 5%;
    color: rgba(0, 0, 0, 0.5);
}

/* Subtext under filenames */
.meta {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    padding-left: 5px;
}
